body,
header,
footer,
section,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
form,
input,
button,
select,
textarea,
p,
th,
td,
a {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  outline: none;
  
}

i,
em {
  font-style: normal;
}

body,
html,
#app {
  height: 100%;
  /* position: relative; */
}

body {
  background: #fff;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  /* overflow: hidden; */
  cursor: default;
}

h1,
h2,
h3 {
  font-weight: bold;
}

ul,
ol {
  list-style: none;
}

img {
  border: none;
  vertical-align: bottom;
}

a,
a:hover {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

a:hover {
  color: #ff6f4b;
}

.a-reverse {
  color: #ff6f4b;
}

.a-reverse:hover {
  text-decoration: none;
}

.a-highlight {
  color: #1890ff;
}

.a-highlight:hover {
  color: #a3d3ff;
}

input,
button {
  border: none;
  outline: none;
  background: transparent;
}

button {
  cursor: pointer;
}

input[type="text"]::-ms-clear {
  display: none;
}

.cfx::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.break {
  word-wrap: break-word;
  word-break: break-all;
}

input::-webkit-input-placeholder {
  color: #b6b6b6 !important;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b6b6b6 !important;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b6b6b6 !important;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b6b6b6 !important;
}

/* 更改默认样式 */
.el-input-group__append button.el-button {
  color: #fff;
  background-color: #5caaab;
  border-color: #5caaab;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.el-button--primary {
  color: #fff;
  background-color: #5caaab;
  border-color: #5caaab;
}
.el-button--primary:hover {
  background-color: #5caaab;
  border-color: #5caaab;
}
.el-button--primary:focus {
  background-color: #5caaab;
  border-color: #5caaab;
}
.el-button:focus,
.el-button:hover {
  color: #fff;
  border-color: #5caaab;
  background-color: #5caaab;
}

.el-button--warning {
  color: #fff;
  background-color: #e6a23c;
  border-color: #e6a23c;
}
.el-button--warning:hover {
  background-color: #e6a23c;
  border-color: #ee9e25;
}
.el-button--warning:focus {
  background-color: #e6a23c;
  border-color:  #e6a23c;
}


.el-button--danger {
  color: #fff;
  background-color: #F56C6C;
  border-color: #F56C6C;
}
.el-button--danger:hover {
  background-color: #F56C6C;
  border-color: #F56C6C;
}
.el-button--danger:focus {
  background-color: #F56C6C;
  border-color:  #F56C6C;
}


.el-button--success {
  color: #5caaab;
  background-color: #fff;
  border-color: #5caaab;
}
.el-button--success:hover {
  color: #5caaab;
  background-color: #fff;
  border-color: #5caaab;
}
.el-button--success:focus {
  color: #5caaab;
  background-color: #fff;
  border-color: #5caaab;
}
.el-button--success.is-disabled, .el-button--success.is-disabled:hover{
  color: #C0C4CC;
    cursor: not-allowed;
    background-image: none;
    background-color: #FFF;
    border-color: #EBEEF5;
}

.el-button--self {
  color: #e6a23c;
  background-color: #fff;
  border-color: #e6a23c;
}
.el-button--self:hover {
  color: #e6a23c;
  background-color: #fff;
  border-color: #e6a23c;
}
.el-button--self:focus {
  color: #e6a23c;
  background-color: #fff;
  border-color: #e6a23c;
}

.el-button--self2 {
  color: #F56C6C;
  background-color: #fff;
  border-color: #F56C6C;
}
.el-button--self2:hover {
  color: #F56C6C;
  background-color: #fff;
  border-color: #F56C6C;
}
.el-button--self2:focus {
  color: #F56C6C;
  background-color: #fff;
  border-color: #F56C6C;
}

.el-button--blue {
  color: #2ca9e0;
  background-color: #fff;
  border-color: #2ca9e0;
}
.el-button--blue:hover {
  color: #2ca9e0;
  background-color: #fff;
  border-color: #2ca9e0;
}
.el-button--blue:focus {
  color: #2ca9e0;
  background-color: #fff;
  border-color: #2ca9e0;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #5caaab;
  color: #fff;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
  background-color: #5caaab;
  color: #fff;
}
.el-select-dropdown__item.selected {
  color: #5caaab;
}
.el-date-table td.current:not(.disabled) span {
  background-color: #5caaab;
}
.el-date-table td.available:hover {
  color: #5caaab;
}
.el-picker-panel__shortcut:hover {
  color: #5caaab;
}
.el-date-picker__header-label.active,
.el-date-picker__header-label:hover {
  color: #5caaab;
}
.el-date-table td.today span {
  color: #5caaab;
}

.el-table th{
  display: table-cell!important;
}
.el-table colgroup{
  display: table-cell!important;
}
/* .el-pagination .el-input__inner:hover {
  border-color: #5caaab;
} */

.el-pagination__sizes .el-input .el-input__inner:hover {
  border-color: #5caaab;
}

.el-select .el-input.is-focus .el-input__inner {
  border-color: #5caaab;
}
.el-select .el-input__inner:focus {
  border-color: #5caaab;
}
.el-input__inner:hover {
  border-color: #5caaab;
}

.el-input__inner:active {
  border-color: #5caaab;
}

.el-input__inner:focus {
  border-color: #5caaab;
}

.el-loading-mask {
  background-color: rgba(255, 255, 255, 0.7);
}
.el-loading-spinner .path {
  stroke-width: 3;
  stroke: #5caaab;
}

.el-table .descending .sort-caret.descending {
  border-top-color: #5caaab;
}
.el-table .ascending .sort-caret.ascending {
  border-bottom-color: #5caaab;
}

.el-upload-dragger:hover {
  border-color: #5caaab; 
}
.el-upload-dragger .el-upload__text em {
  color: #5caaab;
}

.el-upload--picture-card:hover, .el-upload:focus {
  border-color: #5caaab;
  color: #5caaab;
}

.el-upload:focus .el-upload-dragger {
  border-color: #5caaab; 
}
.el-dialog__headerbtn:focus .el-dialog__close, .el-dialog__headerbtn:hover .el-dialog__close {
  color: #5caaab;
}

.el-icon-edit-outline:before {
  font-size: 18px;
}

.el-message-box__headerbtn:focus .el-message-box__close, .el-message-box__headerbtn:hover .el-message-box__close {
  color: #5caaab;
}
