.mobile-item {
  background: url("../../bc_attend3.png") no-repeat;
  /* background-size: 100vw 100vh; */
  background-size: 100% 100%;
  position: relative;
  height: 100%;
}

.mobile-header {
  height: 60px;
  padding: 0 10px;
  /* background: url("../../assets/header-text.png") no-repeat; */
  background-size: 80vw 60px;
  /* background-color: #5caaab; */
  border: 1px solid #eee;
}
.mobile-header h1 {
  /* width: 390px; */
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.8);
  -webkit-text-stroke: 0.5px #03716e;
  /* -webkit-text-stroke: 0.5px #000; */
  /* color: rgba(255, 255, 255, 0.8); */
}

.mobile-container {
  /* background-color: #61acab; */
  height: calc(100% - 60px);
}

/* 登录表单页面 */
.attendance {
  height: 100%;
}

.attend-container {
  height: 100%;
  /* padding: 10px; */
}

.attend-container .form {
  height: 100%;
  padding: 20px;
  /* border-radius: 10px; */
  background-color: rgba(255, 255, 255, 0.7);
  overflow: scroll;
}

/* 表单item */
.attend-container .form-item {
  display: flex;
  height: 50px;
  /* margin: 0 0 10px 0; */
}

.attend-container .form-item span {
  width: 90px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  /* font-weight: bold; */
  color: #000;
}

.attend-container .form-item .el-input__suffix {
  width: initial;
  height: 23px;
  line-height: 23px;
}

.attend-container .form-item .el-input__suffix-inner {
  height: 23px;
  line-height: 23px;
}

.attend-container .form-item .el-input__inner {
  background-color: #d0e7e6;
  border: 1px solid #ccc;
}
.attend-container .form-item  .el-input__icon {
  line-height: 25px;
}
.el-select-dropdown {
  background-color: #d0e7e6;
}
.el-select-dropdown__wrap {
  max-height: 250px;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.el-popper[x-placement^=bottom] {
  margin-top: 4px;
}
.el-popper[x-placement^=bottom] .popper__arrow {
  border-bottom-color: transparent;
}
.el-popper[x-placement^=bottom] .popper__arrow::after {
  border-bottom-color: transparent;
}
.el-popper[x-placement^=bottom] .popper__arrow::before {
  border-bottom-color: transparent;
}

.attend-container .form-item .form-item-input {
  position: relative;
  flex: 1;
  height: 55px;
  margin: 0 10px 0 10px;
}

/* 文本输入*/
.attend-container .form-item input[type="text"] {
  display: inline-block;
  width: 100%;
  height: 25px;
  /* margin: 0 0 5px 0; */
  border-bottom: 1px solid #ccc;
}

.attend-container .form-item h2 {
  height: 30px;
  line-height: 30px;
  font-weight: normal;
  color: initial;
}

.form-item-input p {
  font-size: 10px;
}

/* .attend-container .justify-item span {
  display: inline-block;
  width: 80px;
} */

/* 单选输入区域 */
.attend-container .form-item ul {
  display: flex;
}

.attend-container .form-item li {
  display: flex;
  align-items: center;
  width: 60px;
  height: 30px;
  margin: 0 20px 0 0;
}

.attend-container .form-item input[type="radio"] {
  margin: 0 5px 0 0;
}

/* 错误提示信息 */
.attend-container .form-item p {
  height: 20px;
  line-height: 20px;
  color: #f30;
  /* background-color: #fb0; */
}

.attend-container .center {
  text-align: center;
  margin: 10px 0 0 0;
}

.attend-container button {
  width: 140px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  /* margin: 20px 0; */
  border-radius: 4px;
  background-color: #5caaab;
}

/* 登录成功页面 */
.success {
  height: 100%;
}

.success-container {
  height: 100%;
  overflow: auto;
  /* 解决BFC */
  /* display: flex;
  justify-content: center; */
}
.success-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 120px;
  height: 120px;
  margin: 160px auto;
  /* border: 2px solid #4d4d4d; */
  border-radius: 60px;
  /* margin-top: 40px; */
  background-color: rgba(255, 255, 255, 0.7);
}
.success-box i::before {
  font-size: 60px;
  font-weight: bold;
  color: #218482;
}

.success-box p {
  color: #218482;
  font-weight: bold;
}
